.message__options__wrapper {
  position: relative;
}
.message__bubble {
  padding: 0 8px;
  border-radius: inherit;
  display: flex;
}
.message__bubble__left {
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 8px 4px;
}
.sender__avatar{
  margin: 6px 0 16px 0 !important;
}
.receiver__avatar{
 margin-top: 6px;
}
.message__bubble__right {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px 2px;
  border-radius: inherit;
}
.message__bubble__receipt__bar {
  display: flex;
  align-items: center;
  padding-left: 4px;
  height: 24px;
}
.message__bubble__avatar {
  flex-shrink: "0";
  position: "relative";
}
.message__timestamp {
  display: flex;
  text-transform: uppercase;
  letter-spacing: -0.1;
}
.message__bubble__username__bar {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  height: 24px;
  letter-spacing: -0.1;
  line-height: 16;
}
// translate message style 
.video__bubble{
  border-radius: inherit;
  div{
    border-radius: inherit;
    cometchat-video-bubble{
      border-radius: inherit;
    }
  }
}
.translation__wrapper{
  height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 12px;
    width: auto;
    background: transparent;
}
.video__bubble{
  border-radius: inherit;
}
.background__color{
  .ng-star-inserted{
    border-radius: inherit;
  }
}
.message__options{
  position: absolute;
  // top: -19px;
  display: flex;
  align-items: center;
  // justify-content: center;
  width: 100%;
}