* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.cc-details__wrapper {
  padding: 8px;
  border-radius: 5px;
  height: 100%;
}
.cc-details__profile{
  margin-bottom: 50px;
  height: 8%;
}
.cc-details__section-list{
  height: 84%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.cc-details__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.cc-details__close-button {
position: absolute;
right: 20px;
}
.cc-details__section {
  margin-bottom: 32px;
}
.cc-details__section-separator{
margin-bottom: 16px;
padding-left: 6px;
height: 5%;
}
.cc-details__options-wrapper{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cc-details__option {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 50px;
}
.cc-details__option-title{
 padding-bottom: 12px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.cc-details__view {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
  z-index: 1;
}
.cc-details__section-list::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}
.cc-details__section-list::-webkit-scrollbar-thumb {
  background: rgb(232, 229, 229);
  border-radius: 8px;
}
.cc-details__leavedialog,.cc-details__transferownership{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: 100%;
  z-index: 2;

}
