<div class="cometchat-ui-wrapper">
   <div class="content__wrapper">
      <ng-container [ngTemplateOutlet]="contentView" >

      </ng-container>
   </div>
   <div class="tab__wrapper">
    <cometchat-tab-list [tabs]="tabs" [panes]="panes"></cometchat-tab-list>
   </div>
</div>
<ng-template #chats>
   <cometchat-conversations-with-messages></cometchat-conversations-with-messages>
</ng-template>
<ng-template #users>
   <cometchat-users-with-messages></cometchat-users-with-messages>
</ng-template>
<ng-template #groups>
   <cometchat-groups-with-messages></cometchat-groups-with-messages>
</ng-template>