<div class="users__wrapper" [ngStyle]="usersWrapperStyle()">
  <cometchat-list-base [style]="style" [searchIconURL]="searchIconURL" [searchPlaceHolder]="searchPlaceholder"
  [onSearch]="searchUser"
    [title]="title" [backButtonIconURL]="backButtonIconURL" [showBackButton]="showBackButton" [hideSearch]="hideSearch">
    <cometchat-user-list  [theme]="theme" #userListRef [customView]="customView"  [dataItemConfiguration]="userListConfiguration.dataItemConfiguration" [activeUser]="activeUser" [style]="userListStyle" [friendsOnly]="friendsOnly" [hideBlockedUsers]="hideBlockedUsers" [hideError]="hideError" [limit]="limit" [loadingIconURL]="loadingIconURL"   [roles]="roles" [searchKeyword]="searchKeyword" [status]="status" [tags]="tags" [uids]="uids"></cometchat-user-list>
  </cometchat-list-base>
</div>