.cc-users{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.cc-menus{
    position: absolute;
    right: 12px;
    padding: 12px;
    cursor: pointer;
}
.cc-users__selection--multiple{
    width: 65px;
}