<div [ngStyle]="fileBubbleStyle.messageKitBlockStyle()" class="message__kit__blocks">
  <div class="message__block">
    <div class="message__title">
      <a [href]="fileUrl" target="_blank" [ngStyle]="fileBubbleStyle.messageTitleStyle()"  class="message__title__link">{{title}}</a>
    </div>
    <div [ngStyle]="fileBubbleStyle.messageSubTitleStyle()" class="message__subtitle">{{subtitle}}</div>
  </div>
  <div class="message__file__style">
    <i [ngStyle]="fileBubbleStyle.messageFileIconStyle()" (click)="downloadFile()" class="download__icon__style"></i>
  </div>
  &nbsp;
</div>