.message__kit__blocks {
  padding: 8px 4px;
  background: transparent;
  display: flex;
  max-width: 350px;
  justify-content: flex-end;
}
.message__block {
  width: calc(100% - 40px);
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  margin: 0 8px 0 0;
}
.message__title {
  margin-top: 4px;
  margin-left: 8px;
}
.message__title__link {
  all: unset;
}
.message__subtitle {
  margin-left: 8px;
  margin-top: 4px;
}
.message__file__style {
  width: 24px;
  margin: 8px 0;
  margin-left: 10px;
}
.download__icon__style{
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 4px;
}