<cometchat-message-list [user]="user" [sentMessageInputData]="sentMessageInputData" [alignment]="'standard'"
[receivedMessageInputData]="receivedMessageInputData" [customOptions]="customOptions" ></cometchat-message-list>


<!-- showing pinned message -->
<div class="pinned__message" *ngIf="pinnedMessage && pinnedMessage.type == 'text'">

    <div class="text">
        <img src="assets/pin.png" alt="" height="14px" width="14px">
       {{pinnedMessage.text}}
    </div>
</div>
<div class="close__button" *ngIf="pinnedMessage" (click)="pinnedMessage = null;"> 
    <img src="assets/close.svg" alt="" height="20px" width="20px">
</div>