.joingroup__container{
  margin: auto;
  width: 343px;
  height: 100%;
  border-radius: 8px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.joingroup__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.joingroup__title{
  padding: 16px;
}
.joingroup__input--password{
  width: 100%;
  padding: 8px 0;
  input{
    outline: none;
    width: 100%;
    height: 46px;
    text-align: left;
    padding-left: 16px;
    border: none;
  }
}
.joingroup__button--join{
  width: 100%;
  height: 46px;
  border: none;
  text-align: center;
  margin: 8px;
}
.decorator__message--error{
  text-align: left;
  padding-bottom: 18px;
}