<div class="joingroup__wrapper" [ngStyle]="styles.wrapperStyle()">
    <cometchat-message-header
    [group]="group"
    [showBackButton]="showBackButton"
    [isMobileView]="isMobileView"
    [backButtonIconURL]="backButtonIconURL"
    [inputData]="inputData"
    [style]="headerStyle"
    [dataItemConfiguration]="messageHeaderConfiguration.dataItemConfiguration"
    >
    </cometchat-message-header>
  <div class=" joingroup__container" >
    <div class="joingroup__title" [ngStyle]="styles.titleStyle()" > {{title}} </div>
    <div class="decorator__message--error" [ngStyle]="styles.errorTextStyle()" *ngIf="isError">
      {{errorText}}
    </div>
    <div class="joingroup__input--password">  
    <input type="password" [placeholder]="passwordPlaceholderText" [(ngModel)]="password" [ngStyle]="styles.placeholderStyle()">  
    </div>
      <button class="joingroup__button--join" [ngStyle]="styles.buttonStyle()" (click)="joinGroup()" > {{joinButtonText}} </button>
  </div>
</div>