.payment__modal{
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 140px;
    width: 300px;
    background: #f2f2f2;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    input{
        height: 42px;
        width: 95%;
        padding: 8px;
        border-radius: 8px;
        border: none;
        outline: none;
        overflow: hidden;
    }
    button{
        width: 95%;
        height: 34px;
        background:rgb(51, 153, 255);
        color: white;
        border-radius: 8px;
        border: none;

    }
}
.close__button{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    margin-right: 24px;
    cursor: pointer;
}