.cc-incoming-call__wrapper{
    position: absolute;
    left: 8px;
    top:8px;
    height: fit-content;
    width: fit-content;
    min-height: 104px;
    min-width: 230px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
    align-items: flex-start;
}
.cc-incoming-call-buttons{
    display: flex;
    gap: 8px;
}
.cc-incoming-call__tail-view{
    position: relative;
}
.cc-incoming-call__subtitle-view{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;

}
.cc-incoming-call__listitem{
    width: 100%;
    margin-left: -4px;
}