<div class="userscreen" [ngStyle]="usersWrapperStyles()" >
  <div class="userscreen__sidebar" [ngClass]="{mobile__view : isMobileView}" >
    <cometchat-users #usersRef [activeUser]="user"[backButtonIconURL]="backButtonIconURL" [hideSearch]="hideSearch" [searchIconURL]="searchIconURL" [searchPlaceholder]="searchPlaceholder" [showBackButton]="showBackButton" [userListConfiguration]="usersConfiguration.userListConfiguration" ></cometchat-users>
  </div>
  <div class="userscreen__main" [ngClass]="{mobile__view : isMobileView && user}"[ngStyle]="messagesWrapperStyle()" *ngIf="user">
      <cometchat-messages #messagesRef   [theme]="theme" [messageHeaderConfiguration]="messagesConfiguration.messageHeaderConfiguration" 
      [messageListConfiguration]="messagesConfiguration.messageListConfiguration" [style]="messagesStyle"
      [messageComposerConfiguration]="messagesConfiguration.messageComposerConfiguration" 
       [user]="user!"  [customIncomingMessageSound]="customIncomingMessageSound" [customOutgoingMessageSound]="customOutgoingMessageSound" 
       [enableSoundForCalls]=" enableSoundForCalls" [enableSoundForMessages]="enableSoundForMessages" [enableTypingIndicator]="enableTypingIndicator" 
       [hideMessageComposer]="hideMessageComposer" [messageTypes]="messageTypes"  >
      </cometchat-messages>
  </div>
   <div class="decorator__message--empty" *ngIf="!user"  [ngStyle]="emptyMessageStyle()">
    <cometchat-decorator-message   [text]="messageText" [textColor]="style.messageTextColor" [textFont]="style.messageTextFont">

    </cometchat-decorator-message>
   </div>
