.userscreen {
  display: flex;
  box-sizing: border-box;
}
.userscreen__sidebar {
  width: 280px;
  position: relative;
}
.userscreen__main {
  order: 2;
}
.mobile__view {
  width: 100% !important;
  height: 100%;
  position: absolute;
}

.decorator__message--empty{
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom__view__class{
  background-color: red;
  border: 1px solid green;
  height: 100px;
  width: 200px;
}