.message__reactions {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
  border-radius: 12px;
  margin: 4px 4px 0 0;
  cursor: pointer;
  border: 1px solid transparent;
  float: right;
  height: 22px;
  width: 39px;
}



.emoji__button {
  outline: 0;
  border: 0;
  border-radius: 10px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  position: relative;
  height: 22px;
  width: 30px;
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.reaction__count {
  padding: 0 1px 0 3px;
}

.regular__reaction__icon {
  height: 24px;
  width: 24px;
  padding: 2px;
}

.regular__reaction {
  display: flex;
  flex-flow: wrap;
  margin-left: 5px;
}

.regular__reaction__secondary {
  justify-content: flex-end;
}