<div class="user__list__wrapper"[ngStyle]="styles.wrapperStyle()" >
  <div  class="decorator__message" *ngIf="loader || usersNotFound || isError">
   <div class="loading__view">
    <span class="decorator__message--loading" *ngIf="loader && !customView?.loading" [ngStyle]="styles.loadingIconStyle()">
    </span>
    <span class="custom__view--loading" *ngIf="loader  && customView?.loading">
     <ng-container *ngTemplateOutlet="customView?.loading">
     </ng-container>
   </span>
   </div>
    <div class="empty__view" *ngIf="usersNotFound && !loader">
       <cometchat-decorator-message *ngIf="usersNotFound && !customView?.empty" [text]="emptyText" [textColor]="style.emptyStateTextColor!" [textFont]="style.emptyStateTextFont!">

      </cometchat-decorator-message>
       <span class="custom__view--empty"  *ngIf="usersNotFound && customView?.empty" >
        <ng-container *ngTemplateOutlet="customView?.empty">
        </ng-container>
       </span>
     </div>
     <div class="error__view" *ngIf="isError ">
      <cometchat-decorator-message *ngIf="isError && !hideError && !customView?.error" [text]="errorText" [textColor]="style.emptyStateTextColor!" [textFont]="style.emptyStateTextFont!">

      </cometchat-decorator-message>
      <span class="custom__view--error" *ngIf="isError && !hideError && customView?.error">
        <ng-container *ngTemplateOutlet="customView?.error">
        </ng-container>
      </span>
     </div>
  </div>
  <div  class="user__list" (scroll)="handleScroll($event)"  >
    <div class="user"   *ngFor="let user of usersList; let i = index">
      <div *ngIf="i > 0; else elseBlock"   class="user__seperator">
        <div
          *ngIf="
            usersList[i - 1].getName()[0].toUpperCase() !==
            usersList[i].getName()[0].toUpperCase()
          "
         class="user__section"
          [ngStyle]="styles.alphabetStyle()"
        >
          {{ usersList[i].getName()[0].toUpperCase() }}
        </div>
      </div>
      <ng-template  #elseBlock> <div class="user__section"   [ngStyle]="styles.alphabetStyle()" >
        {{
          usersList[i].getName()[0].toUpperCase()
        }}
      </div>  </ng-template>
      <cometchat-data-item
      [avatarConfiguration]="dataItemConfiguration.avatarConfiguration"
      [statusIndicatorConfiguration]="dataItemConfiguration.statusIndicatorConfiguration"
      [inputData]="inputData"
      [style]="dataItemStyle"
      [theme]="theme"
      [isActive]="IsUserActive(user)"
      [user]="user"
      (click)="onClick(user)"
      >
      </cometchat-data-item>
    </div>
  </div>
</div>
