
<!-- container -->
<div [ngStyle]="listBaseStyles.listBaseStyle()" class="cometchat__listbase">
    <div [ngStyle]="listBaseStyles.listBaseHeadStyle()" class="listbase__header">
        <div  class="listbase__nav">
            <div [ngStyle]="listBaseStyles.backButtonStyle()" *ngIf="showBackButton" class="listbase__backbutton"></div>
            <div [ngStyle]="listBaseStyles.listBaseTitleStyle()" class="listbase__title">
              {{title}}
            </div>
        </div>
        <div [ngStyle]="listBaseStyles.listBaseSearchStyle()" class="listbase__search" *ngIf="!hideSearch">
            <button type="button" class="listbase__search__button" [ngStyle]="listBaseStyles.listBaseSearchButtonStyle()" (click)="searchKeyword(search.value)" ></button>
            <input 
            type="text" 
            autoComplete="off" 
            [ngStyle]="listBaseStyles.listBaseSearchInputStyle()"
            class="listbase__search__input" 
            placeholder="{{searchPlaceHolder}}"
            #search
            (keyup)="searchKeyword(search.value)"
            dir="CometChatLocalize.getDir()"
    />
        </div>
    </div>
    <div [ngStyle]="listBaseStyles.listBaseContainerStyle()" class="listbase__container" >
     <ng-content></ng-content>
    </div>
</div>