.cometchat__listbase{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 0;
    height: 100%;

}

.listbase__search__input{
    opacity: 70%;
    width: calc(100% - 35px);
    outline: none;
}
.listbase__search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    line-height: 20px;
    min-height: 32px;
    height: 100%;
    width: calc(100% - 16px);
}
.listbase__backbutton{
    margin: 0 5px;
    height: 24px;
    width: 24px;
    cursor: pointer;
}
.listbase__title{
    line-height: 26px;
    width: 100%;

}
.listbase__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 16px;

}
.listbase__header{
    display: flex;
flex-direction: column;
align-items: center;
width:100%;

}
.listbase__search__button{
    width: 35px;
    height: 100%;
    padding: 8px 0 8px 2px;
    margin-bottom: 2px;

}
