.reaction__container {
  width: 100px;
  height: calc(100% - 120px);
  overflow: hidden;
  top: 70px;
  float: right;
  display: block;
  z-index: 1000;
}

.reaction__emoji {
  position: absolute;
  z-index: 10000;
  visibility: hidden;
  width: 25px;
  height: 20px;
}
