<div class="confirm__dialog" [ngStyle]="dialogWrapperStyle()" >
    <div [ngStyle]="dialogLoadingWrapperStyle()" class="dialog__loading__wrapper" *ngIf="state == stateConstant.loading">
        <div [ngStyle]="dialogLoadingStyle()" class="dialog__loading"></div>
    </div>
    <div class="dialog__form" [ngStyle]="dialogFormStyle()">
        <div class="dialog__title" [ngStyle]="dialogTitleStyle()">
            {{title}}
        </div>
        <div class="dialog__message" [ngStyle]="dialogMessageStyle()">
            {{messageText}}
        </div>
        <div class="dialog__buttons">
            <button type="button" class="button__confirm" [ngStyle]="buttonConfirmStyle()" (click)="onClick()">
                {{confirmButtonText}}
            </button>
            <button type="button" class="button__cancel" [ngStyle]="buttonCancelStyle()" (click)="onClose()">
                {{cancelButtonText}}
            </button>
        </div>
    </div>
</div>