<!-- loading view -->
<!-- <custom-loading-state></custom-loading-state> -->

<!-- empty view -->
<!-- <custom-empty-state></custom-empty-state> -->


<!-- error view -->
<!-- <custom-error-state></custom-error-state> -->


<!-- message alignment -->
<!-- <message-alignment></message-alignment> -->

<!-- sound manager -->
<!-- <custom-sound-manager></custom-sound-manager> -->

<!-- message types -->
<!-- <exclude-message-types></exclude-message-types> -->

<!-- <custom-message-types [customView]="paymentView"></custom-message-types> -->
<ng-template #paymentView let-messageObject>
   <div class="payment__bubble">
    <div class="title">
       new payment:
    </div>
    <div class="amount">
      {{messageObject.customData.amount}}
    </div>
 
   </div>

</ng-template>


<!-- message options -->

<!-- <exclude-message-options></exclude-message-options> -->
<!-- <custom-message-options></custom-message-options> -->
<!-- <predefined-message-options>

</predefined-message-options> -->



<!-- custom text view -->
<custom-message-bubble [customTextView]="textView"></custom-message-bubble>
<ng-template #textView let-messageObject>
   <div class="text__bubble" *ngIf="!checkRichMedia(messageObject)">
    {{messageObject.getText()}}
   </div>
   <div class="rich__media" *ngIf="checkRichMedia(messageObject)" >
      <div class="thumbnail">
         <img [src]="richMediaObject.links?.thumbnail[0]?.href" alt="" height="100px" width="100px" *ngIf="richMediaObject.links?.thumbnail">
         <img [src]=" richMediaObject.links?.icon[0]?.href" alt="" height="100px" width="100px" *ngIf="!richMediaObject.links?.thumbnail">
      </div>

    
  <div class="details">
   <div class="title"> {{richMediaObject.meta.site || richMediaObject.meta.title}} </div>
   <div class="description"> {{richMediaObject.meta.description}}</div>

     <a [href]="richMediaObject.meta.canonical" target="_blank">View</a>

 
  </div>

    
   </div>

</ng-template>






<!-- custom theme -->
<!-- <message-theme></message-theme> -->

