.message__text__container__style {
  width: auto;
  flex: 1 1;
  align-self: flex-start;
  display: flex;
}

.message__text__wrapper__style {
  display: inline-block;
  background: transparent;
  padding: 8px 12px;
  align-self: flex-start;
  min-width: 235px;

}

.poll__question__style {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  width: 100%;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.option__text__style {
  display: flex;
  align-items: center;
}

.option__icon__style {
  display: block;
}

.poll__answer__style {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.poll__answer__style>li {
  margin: 10px 0;
  display: flex;
  width: 100%;
  cursor: pointer;
  position: relative;
}

.poll__total__style {
  margin: 0;
  display: flex;
  align-items: center;
}

.poll__percent__style {
  max-width: 100%;
  width: 100%;
  min-height: 35px;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.poll__option__style{
  width: 100%;

}

.answer__wrapper__style {
  display: flex;
  align-items: center;
  min-height: 35px;
  width: 100%;
  max-width: 350px;
  justify-content: space-between;
  height: 100%;
  z-index: 2;

  p {
    margin: 0;
    padding: 6px;
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  span {
    width: max-content;
    padding: 6px;
    display: inline-block;
  }
}

.answer__checked__wrapperStyle {
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 35px;
  height: 100%;
  z-index: 2;

  p {
    margin: 0;
    padding: 6px;
    width: calc(100% - 40px);
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  span {
    width: max-content;
    padding: 6px;
    display: inline-block;
  }
}