.message__composer {
  padding: 0 12px 8px 12px;
  z-index: 1;

  position: relative;
  flex: none;
  min-height: 72px;
  border-radius: 0 0 8px 8px;
}
.composer__input {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-end;
  position: relative;
  z-index: 2;
  padding: 0;
  border-radius: 8px;
  min-height: 72px;
}
.input__inner {
  flex: 1 1 auto;
  position: relative;
  outline: none;
  border: 1px solid rgb(234, 234, 234);
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 72px;
  border-radius: inherit;
}
.message__input {
  max-width: -webkit-fill-available;
  min-height: 30px;
  border-radius: 8px 8px 0 0;
  line-height: 20px;
  outline: none;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
  z-index: 1;
  user-select: text;
  padding: 8px 16px;
  border: none;
  border-bottom: 1px ridge;
  background-image: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.media__input{
  display: none;
}
.message__input:empty::before {
  pointer-events: none;
  display: block;
}
.input__disabled {
  pointer-events: none;
  opacity: 0.4;
}
.input__sticky__buttons {
  padding: 6px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: auto;
}
.sticky__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  width: 100%;
}
.button__sticker {
  cursor: pointer;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 16px;
}
.button__emoji {
  height: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 16px;
}
.button__reactions {
  cursor: pointer;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 16px;
}
.button__send {
  cursor: pointer;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 16px;
}
.attachment__icon {
  cursor: pointer;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action__sheet {
  z-index: 10;
}
