<!-- Sticker keyboard -->

<cometchat-sticker-keyboard *ngIf="showSticker" [onClick]="onClick" [emptyText]="emptyText" [loadingText]="loadingText"
  [style]="stickerKeyboardStyles" [errorText]="stickerErrorText"></cometchat-sticker-keyboard>
  <!-- Create poll -->
  <cometchat-popover *ngIf="showCreatePoll"  [style]="createPollPopverStyle" [withBackdrop]="withBackdrop">
    <cometchat-create-poll  [onClose]="closePollWindow" [user]="user" [errorText]="errorText" [closeIconURL]="createPollCloseIconURL"
    [onClose]="onClose" [onCreatePoll]="onCreatePoll" [questionPlaceholderText]="questionPlaceholderText"
    [answerHelpText]="answerHelpText" [deleteIconURL]="deleteIconURL" [optionPlaceholderText]="optionPlaceholderText"
    [AddAnswerButtonText]="AddAnswerButtonText" [addAnswerIconURL]="addAnswerIconURL"
    [createPollButtonText]="createPollButtonText" [defaultAnswers]="defaultAnswers" [title]="createPollTitle"
    [group]="group" [style]="createPollStyle"></cometchat-create-poll>
  </cometchat-popover>
  <!-- Message preview -->
<cometchat-message-preview [showMessagePreview]="openEditMessageWindow" [messagePreviewTitle]="messagePreviewTitle"
  [messagePreviewCloseButtonIconURL]="messagePreviewCloseButtonIconURL" [messagePreviewSubtitle]="textToBeEdited"
  [onCloseClick]="onCloseClick" [style]="messagePreviewStyles">
</cometchat-message-preview>
  <!-- Emoji keyboard-->
<div [ngStyle]="styles.composerStyle()" class="message__composer">
  <cometchat-popover *ngIf="showActionSheetEmoji" [position]="position" [x]="event?.clientX" [y]="event?.clientY"
    [style]="emojiKeyboardTooltipStyle">
    <cometchat-emoji-keyboard [onClick]="onEmojiClick" [hideSearch]="hideSearch" [style]="emojiKeyboardStyle">
    </cometchat-emoji-keyboard>
  </cometchat-popover>
    <!-- Action sheet-->
  <cometchat-popover *ngIf="showActionSheetItem" [position]="position" [style]="toolTipStyles" [x]="event?.clientX"
    [y]="event?.clientY">
    <cometchat-action-sheet [style]="actionSheetStyles" [hideLayoutMode]="hideLayoutMode" [title]="title"
      [layoutModeIconURL]="layoutModeIconURL" [layoutMode]="layoutMode" class="action__sheet" [actions]="types">
    </cometchat-action-sheet>
  </cometchat-popover>
      <!-- Message composer-->
  <input class="media__input" #inputElement (change)="inputChangeHandler($event)" />
  <div class="composer__input">
    <div class="input__inner" tabindex="-1">
      <input [ngStyle]="styles.messageInputStyle()" class="message__input" contenteditable="true"
        placeholder="{{ placeholderText }}" dir="ltr" (input)="changeHandler($event)" [(ngModel)]="messageInput"
        (blur)="endTyping()" (keyup)="sendMessageOnEnter($event)" [value]="messageInput" #message [ngClass]="{
              input__disabled: userBlocked
            }" />
      <div [ngStyle]="styles.inputStickyStyle()" class="input__sticky__buttons">
        <div class="attachment__icon" (click)="toggleActionSheet('item', $event)" *ngIf="!hideAttachment">
          <i [ngStyle]="styles.attchButtonIconStyle()"></i>
        </div>
        <div class="sticky__buttons">
          <div class="button__sticker" (click)="toggleActionSheet('sticker', $event)">
            <i [ngStyle]="styles.stickerBtnIconStyle()"></i>
          </div>
          <div class="button__emoji" *ngIf="!hideEmoji" (click)="toggleActionSheet('emoji' , $event)">
            <i [ngStyle]="styles.emojiBtnIconStyle()"></i>
          </div>
          <div class="button__reactions" (click)="sendReaction()" *ngIf="!hideLiveReaction && !showSendButton">
            <i [ngStyle]="styles.reactionBtnIconStyle()">
            </i>
          </div>
          <div class="button__send" (click)="customSendMethod(messageInput)" *ngIf="showSendButton">
            <i [ngStyle]="styles.sendBtnIconStyle()"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>