.create__group__button{
    position: absolute;
    top: 9px;
    right: 16px;
    cursor: pointer;
    overflow: hidden;
    height: 24px;
    width: 24px;

}.create__group__modal{
    z-index: 10000;
}