<div class="groups__wrapper" [ngStyle]="styles.groupsWrapperStyle()">
  <cometchat-list-base [style]="style" [searchIconURL]="searchIconURL" [searchPlaceHolder]="searchPlaceholder"
    [title]="title" [backButtonIconURL]="backButtonIconURL" [showBackButton]="showBackButton" [hideSearch]="hideSearch"
    [onSearch]="onSearch">
    <cometchat-group-list #groupListRef  [theme]="theme" [dataItemConfiguration]="groupListConfiguration.dataItemConfiguration"
      [activeGroup]="activeGroup" [style]="groupListStyle" [hideError]="hideError" [limit]="limit"
      [loadingIconURL]="loadingIconURL" [customView]="customView" [searchKeyword]="searchKeyword" [tags]="tags"></cometchat-group-list>
  </cometchat-list-base>
  <div class="create__group__button" [ngStyle]="styles.createButtonStyle()" (click)="onCreateClick()"
    *ngIf="!hideCreateGroup">
  </div>
</div>
<div class="create__group__modal">
  <cometchat-popover *ngIf="openCreateGroup" [style]="popOverStyle"[withBackdrop]='true' >
    <cometchat-create-group [onClose]="onCreateClick"
    [onCreateGroup]="onCreateGroup"
    [closeButtonIconURL]="closeButtonIconURL"
    [hideCloseButton]="hideCloseButton"
    [theme]="theme"
    [style]="createGroupStyle"
    >
    </cometchat-create-group>
  </cometchat-popover>
</div>