<div class="sticker__wrapper" [ngStyle]="styles.keyboardStyles()">
  <!--Message container-->
  <div class="decorator__message" *ngIf="loading || isEmpty || isError; else elseBlock">
    <cometchat-decorator-message  *ngIf="loading" [text]="decoratorMessage" [textColor]="style.loadingTextColor!" [textFont]="style.loadingTextFont!">
        
    </cometchat-decorator-message>
    <cometchat-decorator-message  *ngIf=" isEmpty || isError" [text]="decoratorMessage" [textColor]="style.emptyTextColor!" [textFont]="style.emptyTextFont!">
        
    </cometchat-decorator-message>
    <cometchat-decorator-message  *ngIf=" isError" [text]="decoratorMessage" [textColor]="style.errorTextColor!" [textFont]="style.errorTextFont!">
        
    </cometchat-decorator-message>


  </div>
  <ng-template #elseBlock>
    <!--ActiveStickerList-->
    <div class="sticker__list">
      <div *ngFor="let stickers of activeStickerList" (click)="sendStickerMessage(stickers)">
        <img [src]="stickers.stickerUrl" alt="stickers.stickerSetName" class="sticker__item" loading="lazy" />
      </div>
    </div>
    <!--Section Items-->
    <div class="section__list" [ngStyle]="styles.sectionStyles()">
      <div *ngFor="let stickers of categoryStickerUrl" (click)="stickerSetClicked(stickers.stickerSetName)">
        <img *ngIf="stickers.stickerUrl" [src]="stickers.stickerUrl" class="section__list__item"
          loading="lazy" />
      </div>
    </div>
  </ng-template>
</div>