.message__list__wrapper {
  overflow: hidden;
  overflow-y: scroll;
  z-index: 1;
  width: 100%;
  flex: 1 1 0;
  order: 2;
  position: relative;
  height: 100%;
}
.message__list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  padding-top: 14px;
}
.message__date__container {
  text-align: center;
  margin-bottom: 16px;
}
.message__date {
  padding: 8px 12px;
  border-radius: 10px;
}
.decorator__message--loading{
  display:block;
  height: 24px;
  width: 24px;

}
.decorator__message {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
}

.smart__reply {
  position: absolute;
  z-index: 100;
  bottom: 82px;
}
.message__list__wrapper::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}
.message__list__wrapper::-webkit-scrollbar-thumb {
  background: rgb(232, 229, 229);
  border-radius: 8px;
}