<div class="messages__wrapper" [ngStyle]="chatListStyle()" *ngIf="user || group">
  <cometchat-message-header  [theme]="theme" [showBackButton]="showBackButton" [group]="group" [user]="user"
     [backButtonIconURL]="backButtonIconURL" [inputData]="inputData" [dataItemConfiguration]="messageHeaderConfiguration.dataItemConfiguration"
    [enableTypingIndicator]="enableTypingIndicator"></cometchat-message-header>
  <div class="message__list__wrapper">
    <cometchat-message-list [loggedInUser]="loggedInUser" [user]="user" [alignment]="alignment"
      [messageTypes]="messageListTypes"  [theme]="theme" [excludeMessageTypes]="excludeMessageTypes"
      [excludeMessageOptions]="excludeMessageOptions" [customMessageOptions]="customMessageOptions" [limit]="limit"
      [onlyUnread]="onlyUnread" [hideMessagesFromBlockedUsers]="hideMessagesFromBlockedUsers"
      [hideDeletedMessages]="hideDeletedMessages" [threadParentMessageId]="threadParentMessageId"
      [hideThreadReplies]="hideThreadReplies" [tags]="tags" [sentMessageInputData]="sentMessageInputData"
      [receivedMessageInputData]="receivedMessageInputData" [loadingIconURL]="loadingIconURL" [hideError]="hideError"
      [enableSoundForMessages]="enableSoundForMessages" [customView]="customView" [style]="messageListStyle" [customIncomingMessageSound]="customIncomingMessageSound"
      [group]="group" #messageListRef></cometchat-message-list>
  </div>
  <div class="live__reaction">
    <cometchat-live-reactions *ngIf="liveReaction" [reactionName]="reactionName"></cometchat-live-reactions>
  </div>
  <cometchat-message-composer [user]="user"  [theme]="theme" [group]="group" [style]="composerStyles" [placeholderText]="placeholderText" [popoverConfiguration]="messageComposerConfiguration.popoverConfiguration" [createPollConfiguration]="messageComposerConfiguration.createPollConfiguration" [actionSheetConfiguration]="messageComposerConfiguration.actionSheetConfiguration" [emojiKeyboardConfiguration]="messageComposerConfiguration.emojiKeyboardConfiguration" [messagePreviewConfiguration]="messageComposerConfiguration.messagePreviewConfiguration" [stickerKeyboardConfiguration]="messageComposerConfiguration.stickerKeyboardConfiguration"
    [sendButtonIconURL]="sendButtonIconURL" [liveReactionIconURL]="liveReactionIcon"
    [attachmentIconURL]="attachmentIconURL" [stickerIconURL]="stickerIconURL" [closeIconURL]="closeIconURL"
    [hideAttachment]="hideAttachment" [hideLiveReaction]="hideLiveReaction" [hideEmoji]="hideEmoji"
    [emojiIconURL]="emojiIconURL" [showSendButton]="showSendButton" [onSendButtonClick]="onSendButtonClick"
    [messageTypes]="messageComposerTypes" [customOutgoingMessageSound]="customOutgoingMessageSound"
    [enableSoundForMessages]="enableSoundForMessages" [enableTypingIndicator]="enableTypingIndicator"
    [excludeMessageTypes]="excludeMessageTypes" #messageComposerRef *ngIf="!hideMessageComposer"> </cometchat-message-composer>
</div>
<div class="decorator__message--empty" *ngIf="!user && !group" [ngStyle]="emptyMessageStyle()">
  <cometchat-decorator-message  *ngIf="!user && !group" [text]="emptyText" [textColor]="style.messageTextColor" [textFont]="style.messageTextFont">

  </cometchat-decorator-message>
 </div>
