<div class="menu__options" [ngStyle]="mainMenuStyles()">
    <ul class="list__menu__item" *ngIf="isOpen">
        <cometchat-list-item *ngFor="let item of mainMenuList" [onHoverText]="item.title" [iconURL]="item.iconURL"
            [style]="menuStyle" (click)="onMenuItemClick(item, $event)" class="list__item__style" ></cometchat-list-item>
    </ul>
    <div class="more__icon">
        <div class="moremenu__class"  *ngIf="list && list.length > mainMenuLimit +1 && isOpen"
            (click)="toggleShow($event)">
            <cometchat-list-item
            class="list__item__style"
            [iconURL]="moreIconURL"
            [style]="menuStyle"
            ></cometchat-list-item>
        </div>
       
    </div>
</div>
<div class="" *ngIf="isShown">
    <ul class="list__menu__item submenu_class" *ngIf="isOpen" [ngStyle]="subMenuStyles()">
        <cometchat-list-item *ngFor="let menu of subMenuList" [onHoverText]="menu.title"  [style]="menuStyle" class="list__item__style"
            [iconURL]="menu.iconURL"  [text]="menu.title" (click)="onMenuItemClick(menu, $event)">
        </cometchat-list-item>
    </ul>
</div>