<div class="message__kit__blocks">
  <div  class="message__blocks">
      <p  class="message__title" [ngStyle]="documentBubbleStyle.titleStyle()">{{title}}</p>
      <i [ngStyle]="documentBubbleStyle.documentIcon()"  class="message__icon"></i>
  </div>
  <div class="subtitle__style" [ngStyle]="documentBubbleStyle.subtitleStyle()">
      {{subTitle}}
  </div>
 <div class="launch__button" (click)="launchCollaborativeDocument()">
    <p class="button__text__style" [ngStyle]="documentBubbleStyle.buttonStyle()">{{buttonText}}</p>
 </div>
</div>