.message__kit__blocks {
  padding: 16px;
  background: transparent;
  border: 0 none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 134px;
  width: 100%;
}

.message__blocks {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message__icon {

  width: 24px;
  height: 24px;
  display: inline-block;
}

.message__title {
  margin: 0;
  word-break: break-word;
  width: calc(100% - 80px);

}

// .message__button {
//   width: 100%;
//   list-style-type: none;
//   padding: 0;
//   margin: 0;
// }

// .message__button__style {
//   border-radius: 12px 12px 12px 12px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   position: relative;
//   margin: 16px 0 0 -8px;
//   padding: 8px;
//   cursor: pointer;
// }

.button__text__style {

  text-align: center;
  width: 100%;

  display: inline-block;
  margin: 0;
}
.subtitle__style{
  width: calc(100% - 70px);
}