<div class="creategroup__wrapper" [ngStyle]="styles.wrapperStyle()">
  <span class="close__button" (click)="closeCreateGroupView()" [ngStyle]="styles.closeIconStyle()" *ngIf="!hideCloseButton"></span>
  <div class="creategroup__body">
    <div class="creategroup__title" [ngStyle]="styles.titleStyle()">
      {{ title }}
    </div>
    <div class="tabs__container">
      <ul class="tab__list" [ngStyle]="styles.tabListStyle()">
        <li class="tab" (click)="setActiveTab(type)" (mouseenter)="handleMouseHover(type, $event)"
          (mouseleave)="handleMouseHover(type, $event)" *ngFor="let type of objectKeys(groupTypes) "
          [ngStyle]="styles.groupTypeStyle(type)"> {{groupTypes[type]}} </li>
      </ul>
    </div>
    <div class="creategroup__input">
      <div class="creategroup__input--name">
        <input [placeholder]="namePlaceholderText" type="text" [(ngModel)]="groupName"
          [ngStyle]="styles.nameInputStyle()" />
      </div>
      <div *ngIf="passwordInput" class="creategroup__input--password">
        <input [placeholder]="passwordPlaceholderText" type="password" [(ngModel)]="groupPassword"
          [ngStyle]="styles.passwordInputStyle()" />
      </div>
      <div>
        <div class="decorator__message--error" *ngIf="error" [ngStyle]="styles.errorTextStyle()">
          <cometchat-decorator-message  [text]="error" [textColor]="style.errorTextColor!" [textFont]="style.errorTextFont!">

          </cometchat-decorator-message>
          </div>
      
      </div>
    </div>
    <div class="creategroup__button--create">
      <button (click)="createGroup()" [ngStyle]="styles.createButtonStyle()">
        {{ createButtonText }}
      </button>
    </div>
  </div>
</div>