<div class="preview__wrapper"  [@slideInOut] [ngStyle]="optionListStyle()">
  <div class="preview__heading" (click)="closeReplyPreview()" [ngStyle]="closeIconStyle()" >
    <div></div>
  </div>
  <div class="preview__options__wrapper">
    <!-- SMART REPLY OPTION BELOW -->
    <div *ngFor="let option of options"  class="option__list">
      <div class="preview__option" (click)="sendReplyMessage(option)">
        <cometchat-list-item
        [text]="option"
        [style]="style"
        >

        </cometchat-list-item>
      </div>
    </div>
    <!-- SMART REPLY OPTION ABOVE -->
  </div>
</div>
