// *{
//   box-sizing: border-box;
// }
.avatar__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  background-color: #ffffff;
  box-sizing: content-box;
  cursor: inherit;
  outline: none;
  position: static;
  padding: 0;
}
.image__style{
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1 1 100%;
  background-color: transparent;
  background-position: center;
}