<div
  class="incomingCallWrapperStyle"
  *ngIf="incomingCall !== null"
  [@slideInOut]
>
  <div class="callContainerStyle">
    <div class="headerWrapperStyle">
      <div class="callDetailStyle">
        <div class="nameStyle">
          <!--name-->
          {{ incomingDirectCall.sender.name }}
        </div>
        <div class="callTypeStyle">
          <!--call type-->
          <div *ngIf="incomingDirectCall.type === CALL_TYPE_DIRECT">
            <span class="audioCall"></span>
            <span>{{ directCall }}</span>
          </div>

        </div>
      </div>
      <div class="thumbnailStyle">
        <!--avatar-->
        <cometchat-avatar
          [item]="incomingDirectCall.sender"
          [enableUserStatus]="false"
        ></cometchat-avatar>
      </div>
    </div>
    <div class="headerButtonStyle">
      <button class="ButtonStyle Decline" (click)="ignoreCall()">
        {{ IGNORE }}
      </button>
      <button class="ButtonStyle Accept" (click)="acceptCall()">
        {{ ACCEPT }}
      </button>
    </div>
  </div>
</div>
<div class="callScreenWrapperStyle" *ngIf="callInProgress" >
  <!-- OUTGOING CALL SCREEN BELOW -->
  <div class="callScreenContainerStyle "  #callScreen>
  
  </div>
  <!-- OUTGOING CALL SCREEN ABOVE -->
</div>
