<div class="create__poll__wrapper" [ngStyle]="styles.createPollWrapperStyle()">
  <span class="create__poll__close" (click)="closePollView()" [ngStyle]="styles.closeButtonStyle()"></span>
  <div class="create__poll__body">

      <div class="poll__caption" [ngStyle]="styles.titleStyle()">
        {{
        title
        }}
      </div>
      <div class="create__poll__content">
        <div class="error__body" *ngIf="isError">
          <div class="poll__data">
              <cometchat-decorator-message  [text]="errorText" [textColor]="style.errorTextColor!" [textFont]="style.errorTextFont!">
        
              </cometchat-decorator-message>

          </div>
        </div>
        <div class="poll__row" [ngStyle]="styles.optionBorderStyle()">
          <div class="poll__data">
            <input class="poll__data__input" type="text" autoFocus tabIndex="1"
              [placeholder]="questionPlaceholderText" [(ngModel)]="inputQuestion"
              [ngStyle]="styles.placeHolderStyle()" />
          </div>
        </div>
        <!--  Answers list  -->
        <div class="poll__row add__option__row">
          <div class="icon__wrapper poll__data add__icon__wrapper">
            <span class="add__answer__text" [ngStyle]="styles.subtitleStyle()"> {{answerHelpText}} </span>
          </div>
        </div>
        <div class="poll__row" *ngFor="let option of inputOptionItems;let i = index"
          [ngStyle]="styles.optionBorderStyle()">
          <div class="poll__data">
            <input class="poll__data__input" type="text" [placeholder]="getOptionCount(i)"
              [(ngModel)]="option.value" [ngStyle]="styles.optionPlaceHolderStyle()" />
          </div>
          <div class="icon__remove poll__data" *ngIf="i >= defaultAnswers">
            <span class="optionicon remove__icon" [ngStyle]="styles.removeIconStyle()"
              (click)="removePollOption(i)"></span>
          </div>
        </div>
        <!--  POLL OPTION VIEW ABOVE -->
        <div class="poll__row add__option__row">
          <div class="icon__wrapper poll__data add__icon__wrapper">
            <!-- Add Icon -->
            <span class="option__icon add__icon" (click)="addPollOption()"
              [ngStyle]="styles.addIconStyle()"></span>
            <span class="add__answer__text" [ngStyle]="styles.addIconTextStyle()">{{AddAnswerButtonText}} </span>
          </div>
        </div>
      </div>
      <div class="create__button">
            <button type="button" (click)="createPoll()" [ngStyle]="styles.buttonTextStyle()">{{ createPollButtonText
              }}</button>
       </div>
  </div>
</div>